# Assignment 2: Web Scraping Using Selenium

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [1]:
#firstly we'll install selenium library

In [1]:
pip install --upgrade pip --trusted-host pypi.org --trusted-host files.pythonhosted.org

Requirement already satisfied: pip in c:\users\pooja.mishra\anaconda3\lib\site-packages (21.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org pip setuptools

Requirement already satisfied: pip in c:\users\pooja.mishra\anaconda3\lib\site-packages (21.1.1)
Requirement already satisfied: setuptools in c:\users\pooja.mishra\anaconda3\lib\site-packages (50.3.1.post20201107)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#importing all required libraries to work on selenium

In [209]:
import selenium
import pandas as pd
from selenium import webdriver

In [210]:
#Here we are connecting to web driver

In [211]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

1. first get the webpage https://www.naukri.com/

In [212]:
url = 'https://www.naukri.com'
driver.get(url)

2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [213]:
#Here we are getting the job search bar by id

In [214]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [114]:
#Here we are automating the search click 'Data Analyst'

In [215]:
search_job.send_keys("Data Analyst")

In [216]:
#Here we are finding element for job location bar

In [217]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc

In [218]:
#Here we are getting the location 'Bangalore' data

3. Then click the search button.

In [219]:
search_loc.send_keys("Bangalore")

In [220]:
#Here we are applying xpath to get the job titles

In [221]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [222]:
#search_btn = driver.find_element_by_class_name('btn')
#search_btn.click()

In [223]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="85690215-9d70-4b0f-9108-7ba25721d367")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="1bd314c7-aada-489d-b205-4be5f4590fa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="ac057edf-f8ec-44ba-bbc3-822703f4af79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="9c58a6b4-32f9-4cc2-8b4c-5657a17aad16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="9148f78f-3a0d-4549-9edb-0c7c7b00bcbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="2163d796-519a-4206-acb4-a7d1d2f3115a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="5821acb2-b7a1-44af-b05e-226513794ab5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="96896d28-05b1-44a5-8d34-1feb8ea850bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="b55eb19b-a29b-413d-b4a8-4e68b8607457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="0d29b507-feac-4226-9047-0f5d559c463d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="5faac423-789d-46c9-8dc3-809edd741c15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="7d56e4fc-7198-48bc-9c57-7d965046a14a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="0ba65b1f-4547-49aa-a646-c41e06c1144f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="ffdfd90e-9d4e-49c0-a786-69d5fb28d560")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="b643b48f-6784-468f-9304-b8fc30d11eaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="32658493-0ba4-419b-ab99-b5384bcbc457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="03f4e2fb-1c2d-4f9e-b9f3-201d04a04bab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="1ff1bc72-c8bd-4a8b-bf3e-66c71f683212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="e0cc489b-de4f-435a-84f8-ba6b7fe88988")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="e5ece26b-3bb9-4b44-8822-4dded140adf8")>]

In [224]:
#Here we have used for loop to get simplified data for job titles.

4. Then scrape the data for the first 10 jobs results you get.

In [225]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Consultant-Data Analyst -Bangalore',
 'Data analyst - Google Analytics',
 'SW Technologist I- Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract',
 'Data Analyst - Informatica MDM',
 'Senior Data Analyst',
 'Cybersecurity Data Analyst',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [226]:
job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="7d8f41e8-3efc-4489-919d-89b34fa3766d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="e4dfe4f5-60db-4e43-8563-32b9053d511b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="69d2955d-0767-4437-a6de-1f4c6c8e1ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="4bfa0b48-9166-45f3-a4ee-26f246747008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="3b7c3182-d3e5-420c-a74d-ebb7512c1d1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="7e7825d9-abdd-4d1a-8d5f-e7ede8d5f37a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="c48dae2d-8c5c-4862-93be-7bd1325d5c8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="adf462ef-df77-4321-9bb1-e7d2e7f88d5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="77f4a38c-e147-4839-b2c3-18ce83049ac5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="6f3e7dab-4e3d-4823-b393-928fd033ce85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="6ca1e1e9-7dd6-440e-a370-dc1ff8d992c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="ef33a180-0efe-44fa-b680-91f30c09d4ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="ab1a1d0a-4e9d-4b37-bb39-9fac465e0885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="90602eee-fd7f-4f74-a395-44d2a32e5360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="c6147c4a-3118-400a-8930-1a9d366aabca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="a501d002-6796-483e-9073-eccdfde3d5a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="97fbb9fe-bf2d-46e3-81e9-e5d975edd137")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="c7e29dd7-da72-40e7-8cee-7546761987d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="a545c825-b288-4414-a43a-31d230a3e6d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="9f56897b-1bbd-4a18-8189-dd7537a1c26b")>]

In [227]:
job_locations=[]
for i in job_location:
    job_locations.append(i.text)
job_locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR']

In [228]:
#Similarly we have extracted the company,location, experience, by finding right xpath to get all required elements.

In [229]:
job_experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
job_experience

[<selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="48923914-c4c2-4a05-bc8c-fd515205e8a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="8726af69-06c8-4f23-a786-5de23e3ee440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="620e7822-05f3-4f8c-861f-d28f7c6d962f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="c2d49863-0e82-401c-a738-a0383831fd1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="6027662c-4216-46ab-8cbd-9cc4391cd329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="4339c906-5d56-43de-8b77-a17bd7a74ed1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="bb59fa50-b2f4-4e5b-b804-5605a738d54c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="b24d1240-2ea6-4227-a4cb-0c39a3b8cb60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="729e47bc-5e12-4650-81f5-1106d01bacf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="13994dfb-4d9e-4a7a-a06e-af06a4c8ea85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="98db78fb-4c64-430c-930e-0a657cf0a81c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="4a604599-3786-475f-a388-58dd40199368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="2c15d2db-b0db-4eb8-a9d3-0765c430159f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="37f7c8d6-f2e3-4f0a-b71a-7636e1fff3b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="77dbc723-f3dd-480d-a8d8-d47d4b544bdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="5c4a7af1-b1ce-4aad-8dd0-68ce62e6b413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="ef6a8550-b244-4083-97b6-1144b7a96f80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="18a2f943-9b65-446d-8c51-979bba6bbae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="efdd90c9-073e-4aee-b9f9-4bd4b2261fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="698de57a-aaea-4bfc-a0bb-e19d84ba4ef2")>]

In [230]:
job_experiences=[]
for i in job_experience:
    job_experiences.append(i.text)
job_experiences

['0-3 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '6-9 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '3-4 Yrs']

In [231]:
job_company= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
job_company

[<selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="93a1f3df-c3cd-4f2f-9721-3d51cf04c012")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="53e26502-bfc9-4d88-ae4a-6ab16b1ed387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="938dfc0e-16b6-4634-bc38-3d78f7d9c93d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="934e713c-3000-46db-8860-b93d726350a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="1b0c5fa8-0f18-4103-a6a0-e3983765fcd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="9fcc9041-7a7d-487f-b2fe-2ea37d706547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="a2b444c8-48a5-4993-b293-b0681b65c847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="b66e6148-7b97-4fbb-86ad-7570dbed1907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="aa32d0eb-6005-42e3-a72c-936f973e3a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="0259e4ca-7da0-407e-840c-e6388365eef3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="101b48aa-e511-43ed-a751-825812e2c3b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="c5456d09-04c3-49c7-b12f-b88fcca38f6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="58c4ab7c-875a-41e5-883b-300d14b304a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="8f610863-b318-4edf-b23c-6f820cfce99c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="24b56519-ae8f-4cc3-bcc1-2e9c360fd693")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="e55b86cc-b649-4c8d-a812-35375359be7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="73ee9313-e0cb-4cf5-a939-f8723152411b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="1319d6a7-0745-4367-97ea-460a86a740b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="7d53db1d-f21b-4b2c-a537-ed8b90c741de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d468c01b5e434a9fc235ff4da1e25796", element="4949e2a8-7d1a-4887-abb3-d457f5819762")>]

In [232]:
job_companies=[]
for i in job_company:
    job_companies.append(i.text)
job_companies

['Inflexion Analytix Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'SA Tech Software (I) Pvt. Ltd.',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Innovsource Services Private Limited',
 'H and M Hennes and Mauritz (P) Ltd.',
 'Philips India Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Shell India Markets Private Limited',
 'Flipkart Internet Private Limited',
 'Huawei Technologies India Pvt Ltd',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan',
 'Luxoft',
 'Yodlee Infotech Private Limited',
 'Novel Office',
 'Bytech India Private Limited']

In [233]:
#As we got all required data now we'll frame the dataframe to display top 10 job details including experience, company, job titles.

5. Finally create a dataframe of the scraped data by performing manual task with help of selenium.

In [234]:
#Here we got complete solution of ques.1

jobs = pd.DataFrame({})
jobs["title"] = job_titles
jobs["experience"] = job_experiences
jobs["location"] = job_locations
jobs["company"] = job_companies
jobs.head(10)

,title,experience,location,company
0,Data Scientist / Data Analyst -Business Analyst,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited
1,Data Analyst - Informatica MDM,6-9 Yrs,Bangalore/Bengaluru,Shell India Markets Private Limited
2,Assistant Vice President - MIS & Reporting ( B...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...
3,Data Analyst,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.
4,Hiring For Data Analyst/ MIS Reporting Analyst...,2-4 Yrs,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd
5,Consultant-Data Analyst -Bangalore,2-7 Yrs,Bangalore/Bengaluru,Innovsource Services Private Limited
6,Data analyst - Google Analytics,4-7 Yrs,Bangalore/Bengaluru,H and M Hennes and Mauritz (P) Ltd.
7,SW Technologist I- Data Analyst,5-10 Yrs,Bangalore/Bengaluru,Philips India Limited
8,Data Analyst,1-3 Yrs,Bangalore/Bengaluru,Flipkart Internet Private Limited
9,Hiring For Data Analyst @ Flipkart on Contract,2-6 Yrs,Bangalore/Bengaluru,Flipkart Internet Private Limited

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data

In [135]:
#firstly we are connecting to web driver

In [189]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

1. first get the webpage https://www.naukri.com/

In [182]:
#Getting the url 'naukri.com'

In [190]:
naukri_url='https://www.naukri.com/'
driver.get(naukri_url)

2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.

In [184]:
#Now finding the element for search bar to fetch required data

In [191]:
#findling search element by id
search_bar=driver.find_element_by_id("qsb-keyword-sugg")

In [192]:
#write 'Data Scientist' in search bar
search_bar.send_keys("Data Scientist")

In [193]:
#findling search element by id for location
search_location=driver.find_element_by_id("qsb-location-sugg")

In [194]:
#Writing 'Bangalore in location bar' by sending keys
search_location.send_keys("Bangalore")

4. Then scrape the data for the first 10 jobs results you get.

In [195]:
#Now click using the xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [145]:
#By above coding we got the page opened with jobs listing with title 'Data Scientist' for location 'Bangalore'

So, now we'll extract the job titles tags where we have job titles by xpath.

In [196]:
job_titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

Now we have the tags for job titkes; so we will run a loop to extract all the job titkes.

In [197]:
#by this we'll get the list of all top listed job titles
jobs=[]
for i in job_titles:
    jobs.append(i.text)
jobs

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Senior Data Scientist - Credit risk',
 'Big Data - Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Hiring For Lead data Scientist For Bangalore location',
 'Senior Data Scientist',
 'Senior Data Scientist - Kinara Capital',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Principal Data Scientist',
 'Lead Data Scientist /Sr. Data Scientist']

In [198]:
#Now we'll extract the tags for company names by xpath
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [199]:
#Now we'll extract the text from the tags one by one by using for loop
companies=[]
for i in company_tags:
    companies.append(i.text)
companies

['Inflexion Analytix Private Limited',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Gojek Tech',
 'GO-JEK India',
 'Societe Generale',
 'Kinara Financial Private Limited',
 'Kinara Financial Private Limited',
 'Hudsons Bay Company',
 'Applied Materials',
 'o9 Solutions Management India Private Limited',
 'NetApp',
 'BDITDOMAIN']

In [200]:
#Now Getting the tags for location by xpath
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [171]:
#Extracting all locations from above tags
locations=[]
for i in loc_tags:
    locations.append(i.text)
locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [172]:
#As we got all required data now we'll frame the dataframe to display top 10 job details including company, job titles.
#So, Now we'll work on extracting the job description by Exception Hnadling technique.

# Using Exception Handling

In [201]:
job_desc_elements=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_desc_elements

[<selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="ab1033d5-1514-443f-bf7a-5693997505e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="8c57ef5e-e5d3-4983-9417-0ff3c48186e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="37d738ed-22ee-420e-baa5-69c3cd165282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="7e86cbc5-0eed-4e47-bb22-38212c346816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="c9399578-48b9-40ad-83d2-82935421cd84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="d4366712-3b0f-4db2-bce2-da1a7d4e67b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="e7f2306d-9785-4457-9973-8536d9e9d9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="5c1c0641-b69a-494e-8f6f-5ca4ea7c7c30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="aea8ed8f-2efe-4082-9b58-7fb6bc014403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="38a2a708-bd23-4b6a-bcbc-4c89c5e39d25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="0e766799-6662-4c90-ac91-9327002b074b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="3569c2b7-efc4-4cc1-836a-1a826526eb91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="143d4f77-5ddf-4904-8ed0-0634061c9cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="81413955-b8bd-4886-90df-e4c858b7e127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="fadd1e3a-68fb-41c6-801c-98a417a7eb2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="aa0b7d43-a428-420f-88d7-de040a9b34a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="b376f6ed-4ca1-4417-b99c-67a06105907b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="0412b12c-9e65-4ab0-915f-6deb6ff6154b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="abe2c302-55a9-4fde-979e-5d18593370a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="128ae1c28459457e4045299a93e8a4ff", element="e9012d20-98e5-49bf-be60-611c3da908ca")>]

In [202]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [203]:
from selenium.common.exceptions import NoSuchElementException

In [204]:
import time 
desc_list=[]
for i in range(0, len(job_desc_elements)-10):
    #Getting urls from elements
        url = job_desc_elements[i].get_attribute('href')
        driver.get(url)
        time.sleep(3)
        try:
            job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
            desc_list.append(job_desc.text.replace('\n',' '))
        except NoSuchElementException:
            desc_list.append('-')
desc_list

["Job description Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Manigandan -+91 7299917200  Email : manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science. RoleData Analyst Industry TypeBPO / Call Centre Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization Key Skills Business IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description We wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.  Responsibilities: Deliver as a part of our consultant team in driving high quality results on custom project work Ensure effective and timely delivery of project work Work towards understanding statistical models and deliver business insights and findings Ensure compliance to Marketing Mix Modeling modeling practices and company quality standards Maximize the efficient and effective use of resources by utilizing appropriate processes and tools To build and maintain effective contacts with other departments to ensure the efficient and effective use of resources Liaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled Work with co/ third party modellers to deliver business insights and findings  Qualifications and Skills 2-5 years of relevant experience Masters degree in Economics, Mathematics, Statistics, Engineering In-depth understanding of statistical modeling techniques and applications Good and working knowledge of any statistical languages like SAS, R, Pythons Solid proficiency of decision making and problem resolution skills Passion for results with a challenger mindset  About the Team: Global Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.   RoleBusiness Analyst Industry TypeAnalytics / KPO / Research Functional AreaStrategy, Management Consulting, Corporate Planning Employment TypeFull Time, Permanent Role CategoryCorporate Planning/Consulting/Strategy Education PG :MBA/PGDM in Any Specialization, MS/M.Sc(Science) in Statistics, Maths, M.A in Economics Key Skills Predictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 '-',
 '-',
 'Job description  Responsibilities and duties Focus on developing clear and concise analytical approach for problem solving with client partnership Strong understanding of ML libraries and applications e.g. Neural Net, SVMs, boosting methods and implementation using R/Python. Should have academic paper level understanding of math e.g. linear algebra, calculus etc. Ability to code on SAS/R for data munging, analysis and insights and/or languages like Python for creating efficient production ready code Managing delivery of projects including timely communication, setting milestones and tracking Generating actionable insights for business/KPI improvements Ability to work independently, structure analyses and handle multiple priorities Develop and Maintaining Credit Risk Models Strategies Rich experience in at least one production ready deployment of Machine Learning algorithms is a plus. Experience in working on real life large messy dataset to solve real business problems. Kaggle experience is a plus.   Skills Competencies: Experience in Financial Services/ Fintech/ BFSI along with Credit Risk in Retail Banking and Data Science 5 years of experience in building predictive models (Application Scorecard, Behaviour Scorecard, Collection Score Card, Loan Pricing, Loss Forecasting, Cross Sell Model) Experienced Statistical software skills (e.g. SAS, R, Python Strong understanding of ML libraries and applications. Strong experience in leading credit risk model development, validation, deployment, and documentation Analytically oriented with ability to grasp complex risk management strategies, processes, models and draw insights / identify areas of opportunity Strong track record of delivering on high value / critical projects. Ability to communicate with senior stakeholders crisply and confidently on findings, status, bottlenecks, and escalations Proven track record of delivering in a start-up environment would be a plus Strong written and oral communication skills RoleOutside Technical Consultant Industry TypeIT Services & Consulting Functional AreaIT Software - System Programming Employment TypeFull Time, Permanent Role CategorySystem Design/Implementation/ERP/CRM Education UG :Any Graduate in Any Specialization PG :Post Graduation Not Required Key Skills CVSBfsiAnalyticalMachine learningCredit riskData miningRisk managementForecastingFinancial servicesPython',
 '-',
 'Job description Business & Team overview: Founded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.  Huawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network. Enterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities. Consumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.  This opportunity is belong to Huawei Consumer Business Group.  Driven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.  Huawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers . In 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages: 1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones 2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users. 3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms  Job Title: Lead Data Scientist We are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.  Responsibility: Analyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads. Takeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads. Takeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology. To build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform Optimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.  Requirements: - Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc. - Programming experience with Python - Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance - AdServing domain Experience is an added advantage RoleAnalytics Manager Industry TypeTelecom / ISP Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization PG :Any Postgraduate in Any Specialization Key Skills RnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython',

In [205]:
len(desc_list)

10

In [45]:
# Thus we got all top 10 job description list.

5. Finally create a dataframe of the scraped data.

In [96]:
print(len(jobs),len(locations),len(companies))

20 20 20

In [207]:
#Here we got complete solution of ques.2 
import pandas as pd
Data_sci = pd.DataFrame({})
Data_sci["Title"] = jobs[:10]
Data_sci["Location"] = locations[:10]
Data_sci["Company"] = companies[:10]
Data_sci["Desc"] = desc_list
Data_sci.head(10)

,Title,Location,Company,Desc
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description Job Role : Data Scientist/Data...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description We wont say we can predict the...
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,-
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,-
4,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Job description Responsibilities and duties F...
5,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,-
6,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description Business & Team overview: Foun...
7,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description Business & Team overview: Foun...
8,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,-
9,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description We are seeking an outstandin...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [1]:
#Importing the important Libraries

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#Getting the url
url="https://www.naukri.com/"
driver.get(url)

In [4]:
#Enter "Data Scientist" in Search bar.

In [4]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")

In [5]:
search_job.send_keys("Data Scientist")

In [6]:
#Finding the element for job location by id
search_location=driver.find_element_by_id("qsb-location-sugg")

In [7]:
search_location.send_keys("Delhi/NCR")

In [8]:
#Click using xpath function
click_search=driver.find_element_by_xpath("//button[@class='btn']")
click_search.click()

Now after click we'll see the window opened with list of jobs.

In [85]:
import time
from selenium.common.exceptions import NoSuchElementException
try:
        
        location_filter=driver.find_element_by_xpath("//span[text()='Delhi / NCR']")
        location_filter.click()
        time.sleep(3)

        salary_filter=driver.find_element_by_xpath("//span[text()='3-6 Lakhs']")
        salary_filter.click()
except NoSuchElementException:
    print(1)

In [87]:
#Now we are the webpage with selected filter of 'location' as 'Delhi / NCR' & 'salary' as '3-6 Lakhs'. In order to extract the job-title, job-location, company_name, experience_required data we'll get its tags first by using xpath

In [88]:
#Getting the jobs tags
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#now we'll extract all the tags having the job titles using for loop
jobs_titles=[]
for i in job_tags[:10]:
    jobs_titles.append(i.text)
jobs_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Business Analyst- Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon']

In [89]:
#Getting the jobs tags
job_loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

#now we'll extract all the tags having the job locations using for loop
jobs_location=[]
for i in job_loc[:10]:
    jobs_location.append(i.text)
jobs_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Gurgaon/Gurugram']

In [91]:
#Getting the company_names tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#now we'll extract all the tags having the company_names using for loop
company_names=[]
for i in company_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Wipro',
 'Ravgins International Pvt. Ltd.',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'Blitz Jobs',
 'IBM India Pvt. Limited',
 'Country Veggie',
 'Zenatix Solutions Private Limited']

In [97]:
#Getting the experience_required tags
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

#now we'll extract all the tags having the company_names using for loop
experience_required=[]
for i in experience_tags[:10]:
    experience_required.append(i.text)
experience_required

['0-3 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '5-10 Yrs']

In [ ]:
#As we got all required data so we can create its dataframe

In [98]:
#Here we got complete solution of ques.3 
import pandas as pd
Data_filters = pd.DataFrame({})
Data_filters["Title"] = jobs_titles
Data_filters["Jobs_Location"] = jobs_location
Data_filters["Company_Names"] = company_names
Data_filters["Experience_Required"] = experience_required
Data_filters

,Title,Jobs_Location,Company_Names,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
5,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
6,Data Scientist,Noida,Blitz Jobs,3-5 Yrs
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. 
You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:

1. first get the webpage https://www.glassdoor.co.in/index.htm

In [2]:
#Importing Libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
#Calling web driver
driver=driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#Getting the url
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.

In [5]:
#Enter "Data Scientist" in Search bar by using id.

search_job=driver.find_element_by_id("sc.keyword")

In [6]:
search_job.send_keys("Data Scientist")

In [7]:
#Finding the element for job location by id
search_location=driver.find_element_by_id("sc.location")

In [8]:
search_location.send_keys("Noida")

In [9]:
#Click using xpath function
click_search=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
click_search.click()

4. Then scrape the data for the first 10 jobs results you get in the above shown
page.

In [12]:
# In order to scrape company_name, No. of days ago when job was posted, Rating of the company data we'll get its tags first by using xpath

#firstly we'll extract the tags for company_name.

comp_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

comp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ad17267f-3989-4c92-b701-a5430c33e941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6930d722-dc1c-4acd-b19e-24cf648ba507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c5328ea8-d42f-4101-b7ea-e5ad520ad0e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="586af394-47cd-40c4-a672-bd8dc2ac7d48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e8f1421f-b67d-4d15-be54-784cef42f4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="02fbca08-4978-4324-8099-8239f3792610")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="d4c910fe-cdb9-4c4d-9eab-5b515d00c00f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6c4ba995-a286-446f-afe3-78d0c9c0b168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="137a900e-c37e-48d9-97cb-a456c997fc16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c15f1999-a520-4765-8fa0-3d17b84dbbb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="54cde52f-df6c-413c-9042-d043494d43fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="fd7d1d90-dab4-4691-9082-572dcfb0446e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="32b48382-484c-41d6-a6b1-089683230cdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="f5dcfa81-724a-4339-86ae-4d6c4922c9ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="37901511-6016-4d3d-89c3-f849e32334b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="03ca39cd-67b4-4b04-a442-adffd35efc3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ff9a3ac0-e510-4e1c-8198-0b9b16886436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="8771801f-4c79-4d7f-a19f-65e24a0aaea1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="3120288d-4c9d-4853-b791-381cd76312b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c398f309-f5c7-4e74-b22f-854b1affaa91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a522e171-e04f-4d55-9c82-d5afd5a01c4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="47108cf2-5d95-428d-9c4b-4aff309dd3b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="53826542-6b89-415f-999c-e26632bccc6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e8b67b0e-a74d-4a42-8afe-ff676632c7d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="22777f60-97fe-4507-a752-2f9ef4cfa535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="1b047cc4-a923-460c-9b7b-ad5528717429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="b7976f0a-7022-4bb2-8bde-84fe0aec09c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="b4bc6677-5157-40ba-9b47-3336a7152cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="135354ee-5828-41f0-b844-62fc6b174f29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="609d0511-6141-46cd-83ce-33181561534d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="cc937e21-c213-4090-abf2-e2b56d220fcc")>]

In [13]:
#now we'll extract all the tags having the job titles using for loop
companies=[]
for i in comp_tags[:10]:
    companies.append(i.text)
companies

['Bechtel',
 'Mansha Solutions',
 'Ericsson',
 'Lantern Digital Services',
 'Priority Vendor',
 'Sparkbpl',
 'Gauge Data Solutions',
 'Siemens Technology and Services Private Limited',
 'xtLytics',
 'Skyjobs hr services']

In [14]:
#now we'll extract the tags for No. of days ago when job was posted.

days_ago_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

days_ago_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ac2b2279-57ef-4e9a-a23a-77a8323faa7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="00d53bd1-c46b-44dc-a0d2-cfd7081bde32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6e714392-45b9-4922-803f-c1c54df3caab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="053166b1-7438-45f4-bfa9-7388b0a29a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="20337ce7-0f08-45b9-a223-5bccccf3b898")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="acd7769b-ca80-4cfb-8e9d-946aab4e77bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="f883cc73-bdb7-439d-9bad-cbf4cfbd46a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="fc37d3b2-5b24-45d8-8e76-f66a3046bcb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a477ab2a-1747-4d8d-9a0d-b0041b530a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ecdea82d-e080-4d6b-8c4c-be0506b8be92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="4b0d4805-9d56-47c5-a5ff-8f6386ebd547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="640f6973-e91b-4163-b413-d1d25138d901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="eec83644-5397-4347-babb-2d71ba35ba56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="135a3b9d-2a64-47c2-aab6-877068e239e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e9d93747-e7da-4bf9-8fce-a1e28dfed79e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6578a782-b9dd-40ec-bfc6-cfbfc88eee30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7b5350a7-f712-43ec-a7f3-7417d4e832e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="01f4dbce-e519-46dd-962a-999886c4a6a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="49c8f55a-75ef-4c89-9118-162d8a0f3c9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ebfabfe9-c0d6-4e0b-a7c0-368e0ac97622")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c08ed095-cdc3-400c-8115-3b896bcddbcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="43954de0-75c3-4338-b5b6-09c35aa97125")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="4f0c1ce0-5a88-4a05-9e62-077c309f4e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7fb86e8c-36da-42eb-a10c-2168bf138545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="5c71a535-8dd5-498a-917c-bab367714d1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="d2c7ad18-f67c-48be-9488-e1a29d9fdfa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="57de44a2-3d4e-4c21-aa5d-1f5c470c8061")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="97c75b6a-0fb4-404a-b1e6-fc3eed707301")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ee7f3cdd-499e-4c9a-a7b2-692d033af600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7b3507e9-4c47-45c4-9f8e-247336c18561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="274af194-a414-4e85-8133-73299f784499")>]

In [15]:
#now we'll extract all the tags having the job titles using for loop
no_days=[]
for i in days_ago_tags[:10]:
    no_days.append(i.text)
no_days

['16d', '9d', '24h', '7d', '13d', '13d', '13d', '1d', '24h', '6d']

In [16]:
#now we'll extract the tags for Rating of the company.

comp_rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

comp_rating

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c2398baa-757d-412b-9ec3-3958d55fb84b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="57b26d70-b918-4104-883a-bbb77171588e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="5f8cf60f-0d52-4411-86ad-006df45e322b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7429d484-f236-40b8-892d-c56ba4894259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6618d0a1-1d53-4e35-99d4-e3b345417d94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c0f15406-8ce3-432b-8481-e752579482b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ae09d338-2773-47b8-afa9-b43edca52e26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="b1af0981-9e74-4103-9265-c79c04242fff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a4ed2edc-2172-4fff-b05b-0998727d37e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="d1f46ffc-f2af-42a4-a9c6-ba56c88c588f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="4a4d8974-64af-4eae-a760-eff3aa7c5b09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="2ff86a44-45e0-4acb-aef3-ca068de11c76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="892707a4-be05-4c31-a1d2-22b28ccf6790")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="464ed042-87bf-4a24-b3e8-6839d7e97dc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="faf646c8-346a-4749-95f6-a1b3b032e6db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="f1607d6e-58cd-410d-b335-af7838498105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ccd6be17-fb6d-42c6-b485-2d870741d67b")>]

In [17]:
#now we'll extract all the tags having the job titles using for loop
ratings=[]
for i in comp_rating[:10]:
    ratings.append(i.text)
ratings

['4.0', '4.1', '3.7', '3.1', '4.1', '4.3', '4.1', '3.8', '5.0', '3.8']

5. Finally create a dataframe of the scraped data.

In [18]:
#Here we got complete solution of ques.4 
import pandas as pd
glassdoor = pd.DataFrame({})
glassdoor["Company Name"] = companies[:10]
glassdoor["no. of days job posted"] = no_days[:10]
glassdoor["Ratings"] = ratings[:10]
glassdoor

,Company Name,no. of days job posted,Ratings
0,Bechtel,16d,4.0
1,Mansha Solutions,9d,4.1
2,Ericsson,24h,3.7
3,Lantern Digital Services,7d,3.1
4,Priority Vendor,13d,4.1
5,Sparkbpl,13d,4.3
6,Gauge Data Solutions,13d,4.1
7,Siemens Technology and Services Private Limited,1d,3.8
8,xtLytics,24h,5.0
9,Skyjobs hr services,6d,3.8

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [19]:
#Getting the url  https://www.glassdoor.co.in/Salaries/index.htm
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [20]:
#Enter “Data Scientist” in Job title field and “Noida” in location field.
search_job=driver.find_element_by_id("KeywordSearch")

In [ ]:
search_job.send_keys("Data Scientist")

In [21]:
#Finding the element for job location by id
search_location=driver.find_element_by_id("LocationSearch")

search_location.send_keys("Noida")

In [22]:
#Click using xpath function
click_search=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
click_search.click()

In [24]:
#Now we are on the job salaries webpage thus we can Scrape data for first 10 companies. Scrape the min salary, no. of salaries, max salary, companyname, Average salary and rating of the company.

In [25]:
#Extracting the min/max salaries by finding the tags

In [26]:
sal_tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__rangeBar undefined undefined ']")

sal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7ebfed57-f090-4329-abf2-8d94703aa127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="9509dbd0-bf79-466d-b52a-c4945dfee776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="74671c10-115c-418f-a48d-b61092a9f41c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="d14c6d90-3b4a-48b6-a53a-e7b59b07d7fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a95559a5-9102-4f96-9ed3-fdf0d43e5ed5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="34333bd5-e9c5-4c5d-9108-0a73c05882cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="b10e65b7-1be5-4ac1-8263-e98bc3c8e016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="53c8e314-cfa7-4fb7-8f19-0cbe0f2ddbcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e9c3da19-2c36-4ab0-8f6c-23fd45469980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="98f7e074-0e01-47ba-9d70-d37707cebd78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="0a0142c1-7f43-4181-aafe-eabcf6e59e9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a45a6aa8-1d15-41a5-af57-91ab28f713b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="98db831a-61a2-4e22-838e-d2c7e7e2229f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="0e9ca22b-3db0-4c8f-bdab-69690a4262e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="608a9810-3153-420a-8cab-79ab67eae57e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ba0ffe53-c9b1-4a79-b646-71ce1a5171d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="9cd7beba-dda8-47e5-b04d-29780634b3df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c70cc5e4-39ef-4a53-9f03-9c5bbbdd4867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="74389f6f-5710-4632-b38c-2f49b55ac967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="9bfea15c-1d9a-42e5-a2bb-d18466598ac8")>]

In [29]:
sal=[]
for i in sal_tags[:10]:
    sal.append(i.text)
sal

['₹126K\n₹1,303K',
 '₹112K\n₹3,719K',
 '₹55K\n₹8,565K',
 '₹47K\n₹5,170K',
 '₹102K\n₹4,115K',
 '₹111K\n₹10,576K',
 '₹160K\n₹7,090K',
 '₹76K\n₹1,968K',
 '₹106K\n₹1,914K',
 '₹162K\n₹5,039K']

In [31]:
#now we'll extract all the tags having the salaries using for loop
min_sal=[]
max_sal=[]
for i in sal_tags[:10]:
    min_sal.append(i.text.strip().split('\n')[0].strip())
    max_sal.append(i.text.strip().split('\n')[1].strip())
min_sal

['₹1,303K',
 '₹3,719K',
 '₹8,565K',
 '₹5,170K',
 '₹4,115K',
 '₹10,576K',
 '₹7,090K',
 '₹1,968K',
 '₹1,914K',
 '₹5,039K']

In [46]:
max_sal

['₹1,303K',
 '₹3,719K',
 '₹8,565K',
 '₹5,170K',
 '₹4,115K',
 '₹10,576K',
 '₹7,090K',
 '₹1,968K',
 '₹1,914K',
 '₹5,039K']

In [36]:
#Extracting the average salaries
Avgsal_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

Avgsal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="c42cf583-ffbc-498a-8161-4098cf77380f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="2917300c-aa69-4087-9230-74b00456e636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="13d911d9-c4c4-497b-baf9-ddb1ff3dd1c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="15805839-b2a9-4157-a84f-3744bb708192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="daa4cd77-411b-482a-be90-b4fc55454e10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="2c4c0d35-669c-43e0-9796-50cb0d94f88c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6bec1568-b648-4387-902e-f9d85ab7865d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="2b711ea0-4277-40f5-bf63-102d86b951af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="41225a64-2aef-46b6-9f5a-8ebf32918869")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="81475776-32de-412d-b783-95dfb00169a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="8a4a2967-8b6a-45a1-a3ef-14770911ae19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="19ff5db4-a884-40d5-bee9-a1ec03979a94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6841b46b-ec69-4c0a-a2f2-dd292d5c1919")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="841b5c3d-c087-47d1-b4bc-dd2db05616ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="28229014-f176-45c9-8f52-b9669c40389f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="937aeac6-ffa5-496e-b906-a00c3f18fdb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="315fecb3-bce1-456e-b9bc-dc3875660800")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="1d83953d-7411-46a9-bdb5-81edba885c80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="264be7c7-8c19-42cb-b766-3e09450c6720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a96f7e18-ba99-450e-af8b-a2b527497c41")>]

In [38]:
#Getting the required data from above tags
avg_sal=[]
for i in Avgsal_tags[:10]:
    avg_sal.append(i.text.replace('\n',''))
    
avg_sal

['₹ 3,75,013/yr',
 '₹ 4,39,846/yr',
 '₹ 6,53,247/yr',
 '₹ 4,53,695/yr',
 '₹ 4,40,335/yr',
 '₹ 10,46,377/yr',
 '₹ 6,14,020/yr',
 '₹ 8,08,205/yr',
 '₹ 2,19,348/yr',
 '₹ 6,00,000/yr']

In [39]:
#Extracting the no. of  salaries by finding the tags

no_sal_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

no_sal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="ac2727b9-9c8d-4af3-b046-6ca1695de08f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e695b31e-9a91-4793-9f45-2284f6344ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="575b9588-bbdf-4101-943c-8e23121e3945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="44a5a9ba-372c-41f3-9ede-4d1c02ec0adf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="5eb281ba-51d8-4efb-81c9-fe8f0ba3e6f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6a723cfb-58be-46d6-9e06-7cf707c3830c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="d4d62967-a7fb-4fd4-b806-95d81db00ba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="be7ddbdc-0865-4de7-9ee2-bb2b03e87b76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6092500d-990c-412d-a992-fdf846e6fb29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="a9e48e4e-3836-4933-b521-1663db73ffe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="1050c9ea-0c94-48e2-a66e-ed92a96c58e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="0c5e90da-8d47-4b86-a37c-87901915191e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e371d589-5b1d-43dc-b9eb-fdfec1e63a7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="76cafc98-f21a-4ea7-b5b8-a9c54131f4a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="77bb5a12-72f9-43d6-bc02-60ab21e97314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="dff29009-53a1-425d-8c41-f9307074bc33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="997266fa-b253-4128-b795-8d995a0be043")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="249d41d4-6d0e-446e-bb8d-c409dc1d3bb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="97b4b187-4db7-4fd7-a23e-b85bb248c9c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="0d66cd64-d720-4159-95b2-548b9126d991")>]

In [40]:
no_salaries=[]
for i in no_sal_tags[:10]:
    no_salaries.append(i.text)
no_salaries

['2,277 salaries',
 '601 salaries',
 '574 salaries',
 '426 salaries',
 '384 salaries',
 '371 salaries',
 '359 salaries',
 '354 salaries',
 '338 salaries',
 '336 salaries']

In [42]:
#Extracting the companies name by finding the tags
comp_tags=driver.find_elements_by_xpath("//div[@data-test='job-info']")

comp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7638fabf-16f1-432c-9d33-9a7501207f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="dbd2bf73-58dd-4737-bf0e-076c02f243cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="42f05474-0d8e-4f98-806a-e4355fc3606a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="cc3f16f9-6124-4382-b347-04c5bcbc40e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="2b11d202-47a1-45af-8852-dd314c04b96d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="78a50655-9771-4246-ac4f-bd944f6683aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="67eca48b-5585-47df-9b14-cf6a0ff6ee4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="f2f03b79-0f23-4c71-a2be-563fb268af15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="bc177f45-2d42-4b7f-a851-73e945eebb46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="fc26a715-c492-4d2f-a5ae-7cb401271ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="979831bb-1ab1-44c0-9a50-c5aa4eb4a953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="71fd161a-1a5b-4eec-95f7-003f17d37217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="6404b023-80f1-446e-b9a0-18ba291302e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="44703374-2bb6-4028-87c5-d37ae507db9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="46d5b0f9-922a-4a01-af20-e8a68b0565d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="87a391b1-0968-405a-92be-05c619034e95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="e6be35e2-c7df-47d2-8c6d-73048c7cf780")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="7d973649-e89b-4e44-808f-b5d19825c5a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="4bc1eb4f-744e-4a5d-975d-1dfd3031e180")>,
 <selenium.webdriver.remote.webelement.WebElement (session="36255da53f41f251d2681218f20777a6", element="227e5db6-b607-40f9-aadd-9ec0ac0a1ba2")>]

In [44]:
companies_names=[]
for i in comp_tags[:10]:
    companies_names.append(i.text.strip().split('\n')[1])
companies_names

['Tata Consultancy Services',
 'HCL Technologies',
 'Tata Consultancy Services',
 'Capgemini Engineering',
 'Tata Consultancy Services',
 'Deloitte',
 'HCL Technologies',
 'Capgemini Engineering',
 'Genpact',
 'Evalueserve']

In [45]:
#AS we got all required data now will create the dataframe

In [47]:
#Here we got complete solution of ques.5 ; store the data in a dataframe.
import pandas as pd
job_salaries = pd.DataFrame({})
job_salaries["Company Name"] = companies_names[:10]
job_salaries["No. of Salaries"] = no_salaries[:10]
job_salaries["Average Salaries"] = avg_sal[:10]
job_salaries["Min Salaries"] = min_sal[:10]
job_salaries["Max Salaries"] = max_sal[:10]
job_salaries

,Company Name,No. of Salaries,Average Salaries,Min Salaries,Max Salaries
0,Tata Consultancy Services,"2,277 salaries","₹ 3,75,013/yr",₹126K,"₹1,303K"
1,HCL Technologies,601 salaries,"₹ 4,39,846/yr",₹112K,"₹3,719K"
2,Tata Consultancy Services,574 salaries,"₹ 6,53,247/yr",₹55K,"₹8,565K"
3,Capgemini Engineering,426 salaries,"₹ 4,53,695/yr",₹47K,"₹5,170K"
4,Tata Consultancy Services,384 salaries,"₹ 4,40,335/yr",₹102K,"₹4,115K"
5,Deloitte,371 salaries,"₹ 10,46,377/yr",₹111K,"₹10,576K"
6,HCL Technologies,359 salaries,"₹ 6,14,020/yr",₹160K,"₹7,090K"
7,Capgemini Engineering,354 salaries,"₹ 8,08,205/yr",₹76K,"₹1,968K"
8,Genpact,338 salaries,"₹ 2,19,348/yr",₹106K,"₹1,914K"
9,Evalueserve,336 salaries,"₹ 6,00,000/yr",₹162K,"₹5,039K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [28]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [5]:
#Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

1. Go to flipkart webpage by url https://www.flipkart.com/

In [21]:
flipkart="https://www.flipkart.com/"
driver.get(flipkart)

2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon

In [23]:
search_sunglasses=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [24]:
search_sunglasses.send_keys("sunglasses")

In [25]:
#click the search icon
flip_search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
flip_search.click()

In [30]:
#Using loop we can get all data as required\n",
i=0
count = 0
sunglass_brandData=[]
sunglasses_descData=[]
sunglasses_discountData=[]
sunglasses_PriceData=[]

while i <=100:
    try:
        
        count = len(sunglass_brandData)
        if count == 0:
            #Exctracting the all data from page with xpath attributes
            #Begin
            sunglass_brand_elements=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in sunglass_brand_elements:
                sunglass_brandData.append(i.text)
            sunglasses_desc_elements=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
            for j in sunglasses_desc_elements:
                sunglasses_descData.append(j.text) 
            sunglasses_discount_elements=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
            for k in sunglasses_discount_elements:
                sunglasses_discountData.append(k.text)
            sunglasses_price_elements=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
            for l in sunglasses_price_elements:
                sunglasses_PriceData.append(l.text)
            #End   
            count = len(sunglass_brandData)
            i = len(sunglass_brandData)
            if count<=40:
                next_page_click=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
                next_page_click.click()
                time.sleep(3)
        if  count <= 100:
            #Exctracting the all data from page with xpath attributes\n",
            #Begin
            sunglass_brand_elements=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in sunglass_brand_elements:
                sunglass_brandData.append(i.text)
            sunglasses_desc_elements=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
            for j in sunglasses_desc_elements:
                sunglasses_descData.append(j.text) 
            sunglasses_discount_elements=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
            for k in sunglasses_discount_elements:
                sunglasses_discountData.append(k.text)
            sunglasses_price_elements=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
            for l in sunglasses_price_elements:
                sunglasses_PriceData.append(l.text)
            #End  
            count = len(sunglass_brandData)
            i = len(sunglass_brandData)
            next_page_click=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]
            next_page_click.click()
            time.sleep(3)
        if i >=100 :
            break;
        i+=1 
    except NoSuchElementException as e:
        sunglass_brandData.append('-')
print (len(sunglass_brandData))
print (len(sunglasses_discountData))
print (len(sunglasses_PriceData))

120
120
120

In [31]:
print (len(sunglasses_descData))

118

In [32]:
#Here we got complete solution of ques.6 ; store the data in a dataframe.
import pandas as pd
sunglasses = pd.DataFrame({})
sunglasses["Brand Name"] = sunglass_brandData[:100]
sunglasses["Sunglasses Desc"] = sunglasses_descData[:100]
sunglasses["Discount"] = sunglasses_discountData[:100]
sunglasses["Price"] = sunglasses_PriceData[:100]
sunglasses

,Brand Name,Sunglasses Desc,Discount,Price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),21% off,₹627
1,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",83% off,₹329
2,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",77% off,₹449
3,NuVew,"UV Protection Retro Square, Wayfarer Sunglasse...",70% off,₹314
4,NuVew,UV Protection Cat-eye Sunglasses (60),71% off,₹419
...,...,...,...,...
95,Ray-Ban,UV Protection Retro Square Sunglasses (55),20% off,"₹6,792"
96,Dannilo,"UV Protection, Gradient Rectangular Sunglasses...",78% off,₹218
97,Ray-Ban,Mirrored Aviator Sunglasses (58),30% off,"₹3,843"
98,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (56),75% off,₹499
99,ROYAL SON,"UV Protection, Riding Glasses Wayfarer Sunglas...",73% off,₹399

# Q7. Scrape 100 reviews data from flipkart.com for iphone11 phone. 
    You have to go the link:
    https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [33]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [35]:
iphone="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(iphone)

Now Scrape the review rating, review summary and full summary for 100 reviews

In [36]:
#As we can see only 1 review thus will click on more reviews option
more_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
more_reviews.click()

In [37]:
#Scraping required data of reviews

In [55]:
i=0
count = 0
review_rating=[]
review_summary=[]
full_summary=[]

while i <=100:
    try:
        
            count = len(review_rating)
            if count == 0:
                #Exctracting the all data from page with xpath attributes
                #Begin           
                review_rating_elements=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")          
                for i in review_rating_elements:
                    review_rating.append(i.text)
                review_summary_elements=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
                for j in review_summary_elements:
                    review_summary.append(j.text) 
                full_summary_elements=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
                for k in full_summary_elements:
                    full_summary.append(k.text)
           
               #End   
                count = len(review_rating)
                i = len(review_rating)
                if count<=10:
                    next_page_click=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
                    next_page_click.click()
                    time.sleep(3)
            if  count <= 100:
                #Exctracting the all data from page with xpath attributes
                #Begin
                review_rating_elements=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
                for i in review_rating_elements:
                    review_rating.append(i.text)
                review_summary_elements=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
                for j in review_summary_elements:
                    review_summary.append(j.text) 
                full_summary_elements=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
                for k in full_summary_elements:
                    full_summary.append(k.text)
                #End  
                count = len(review_rating)
                i = len(review_rating)
                next_page_click=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
                next_page_click.click()
                time.sleep(3)
            if i >=100 :
                break;
            i+=1 
    except NoSuchElementException as e:
        review_rating.append('-')

In [56]:
print (len(review_rating))
print (len(review_summary))
print (len(full_summary))

100
100
100

In [57]:
#Here we got complete solution of ques.7 ; displaying the data in a dataframe.
import pandas as pd
reviews_list = pd.DataFrame({})
reviews_list["Review Rating"] = review_rating[:100]
reviews_list["Review Summary"] = review_summary[:100]
reviews_list["Full Summary"] = full_summary[:100]
reviews_list

,Review Rating,Review Summary,Full Summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific,Really worth of money. i just love it. It is t...
96,5,Highly recommended,It's my first time to use iOS phone and I am l...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
99,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com.

In [73]:
driver = webdriver.Chrome("C:\\Users\\Pooja.Mishra\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [74]:
#Getting the web page
sneakers="https://www.flipkart.com/"
driver.get(sneakers)

2. Enter “sneakers” in the search field where “search for products, brands and more” is written and click the search icon

In [75]:
search_button=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_button.send_keys("sneakers")

In [76]:
#click the search icon
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

Now scraping the data for product description, Price, Discount % and Brand

In [77]:
#Using loop we can get all data as required\n",
i=0
count = 0
sneakers_brandData=[]
sneakers_descData=[]
sneakers_discountData=[]
sneakers_PriceData=[]

while i <=100:
    try:
        
        count = len(sneakers_brandData)
        if count == 0:
            #Exctracting the all data from page with xpath attributes
            #Begin
            sneakers_brand_elements=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in sneakers_brand_elements:
                sneakers_brandData.append(i.text)
            sneakers_desc_elements=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
            for j in sneakers_desc_elements:
                sneakers_descData.append(j.text) 
            sneakers_discount_elements=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
            for k in sneakers_discount_elements:
                sneakers_discountData.append(k.text)
            sneakers_price_elements=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
            for l in sneakers_price_elements:
                sneakers_PriceData.append(l.text)
            #End   
            count = len(sneakers_brandData)
            i = len(sneakers_brandData)
            if count<=40:
                next_page_click=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
                next_page_click.click()
                time.sleep(3)
        if  count <= 100:
            #Exctracting the all data from page with xpath attributes\n",
            #Begin
            sneakers_brand_elements=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in sneakers_brand_elements:
                sneakers_brandData.append(i.text)
            sneakers_desc_elements=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
            for j in sneakers_desc_elements:
                sneakers_descData.append(j.text) 
            sneakers_discount_elements=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
            for k in sneakers_discount_elements:
                sneakers_discountData.append(k.text)
            sneakers_price_elements=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
            for l in sneakers_price_elements:
                sneakers_PriceData.append(l.text)
            #End  
            count = len(sneakers_brandData)
            i = len(sneakers_brandData)
            next_page_click=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]
            next_page_click.click()
            time.sleep(3)
        if i >=100 :
            break;
        i+=1 
    except NoSuchElementException as e:
        sneakers_brandData.append('-')
print (len(sneakers_brandData))
print (len(sneakers_discountData))
print (len(sneakers_PriceData))
print (len(sneakers_descData))

120
118
120
100

In [78]:
#Here we got complete solution of ques.8 ; displaying the data in a dataframe.
import pandas as pd
sneakers_list = pd.DataFrame({})
sneakers_list["Brand"] = sneakers_brandData[:100]
sneakers_list["Product Desc"] = sneakers_descData[:100]
sneakers_list["Discount"] = sneakers_discountData[:100]
sneakers_list["Price"] = sneakers_PriceData[:100]
sneakers_list

,Brand,Product Desc,Discount,Price
0,DUCATI,Sneakers For Men,47% off,"₹1,924"
1,DUCATI,Sneakers For Men,67% off,"₹1,199"
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,62% off,₹379
3,Robbie jones,Sneakers For Men,52% off,₹474
4,Numenzo,Sneakers For Men,60% off,₹398
...,...,...,...,...
95,LEATHERKRAFT,Sneakers For Men,66% off,₹299
96,GUSTO,"Casual , Partywear Sneakers Shoes For Men's An...",40% off,₹699
97,Englewood,Men's White Suede Leather Lace-Up High Ankle C...,49% off,₹499
98,HOTSTYLE,Sneakers For Men,52% off,₹299
99,DUCATI,Black Mesh Sneakers for Men Sneakers For Men,50% off,"₹1,813"

# Q9.Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe.

In [100]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [226]:
driver = webdriver.Chrome("C:\\Users\\Pooja.Mishra\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [227]:
#Getting the myntra url
myntra="https://www.myntra.com/shoes"
driver.get(myntra)

In [167]:
#Clicking on filter 'Price' & 'color' to scrape required data
import time
from selenium.common.exceptions import NoSuchElementException
try:
        
        color_filter=driver.find_elements_by_xpath("//li[@class='colour-listItem']")
        color_filter
        for i in color_filter:
            if "Black" in i.text:
                i.click()

        price_filter=driver.find_elements_by_xpath("//ul[@class='price-list']/li")
        price_filter
        for i in price_filter:
            if "Rs. 6649 to Rs. 13099" in i.text:
                i.click()
except NoSuchElementException:
    print(1)

In [ ]:
#As we are on desired webpage with filters applied so now we'll scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [175]:
i=0
count = 0
shoes_Brand=[]
shoes_Desc=[]
shoes_Price=[]

while i <=100:
    try:
        
            count = len(shoes_Brand)
            if count == 0:
                #Exctracting the all data from page with xpath attributes
                #Begin           
                shoes_Brand_elements=driver.find_elements_by_xpath("//h3[@class='product-brand']")          
                for i in shoes_Brand_elements:
                    shoes_Brand.append(i.text)
                shoes_Desc_elements=driver.find_elements_by_xpath("//h4[@class='product-product']")
                for j in shoes_Desc_elements:
                    shoes_Desc.append(j.text) 
                shoes_Price_elements=driver.find_elements_by_xpath("//div[@class='product-price']")
                for k in shoes_Price_elements:
                    shoes_Price.append(k.text)
           
               #End   
                count = len(shoes_Brand)
                i = len(shoes_Brand)
                if count<=50:
                    next_page_click=driver.find_element_by_xpath("//li[@class='pagination-next']")
                    next_page_click.click()
                    time.sleep(3)
            if  count <= 100:
                #Exctracting the all data from page with xpath attributes
                #Begin
                shoes_Brand_elements=driver.find_elements_by_xpath("//h3[@class='product-brand']")          
                for i in shoes_Brand_elements:
                    shoes_Brand.append(i.text)
                shoes_Desc_elements=driver.find_elements_by_xpath("//h4[@class='product-product']")
                for j in shoes_Desc_elements:
                    shoes_Desc.append(j.text) 
                shoes_Price_elements=driver.find_elements_by_xpath("//div[@class='product-price']")
                for k in shoes_Price_elements:
                    shoes_Price.append(k.text)
                #End  
                count = len(shoes_Brand)
                i = len(shoes_Brand)
                next_page_click=driver.find_element_by_xpath("//li[@class='pagination-next']")
                next_page_click.click()
                time.sleep(3)
            if i <=100:
                break;
            i+=1 
    except NoSuchElementException as e:
        shoes_Brand.append('-')

In [176]:
print (len(shoes_Brand))
print (len(shoes_Desc))
print (len(shoes_Price))

100
100
100

In [177]:
#Here we got complete solution of ques.9 ; displaying the data in a dataframe.
import pandas as pd
shoes_list = pd.DataFrame({})
shoes_list["Brand"] = shoes_Brand[:100]
shoes_list["Product Desc"] = shoes_Desc[:100]
shoes_list["Price"] = shoes_Price[:100]
shoes_list

        Brand                     Product Desc                       Price
0        Nike     Men KD13 EP Basketball Shoes                   Rs. 12995
1        ALDO            Men Textured Sneakers   Rs. 7199Rs. 8999(20% OFF)
2        Nike      Men JORDAN DELTA Basketball                   Rs. 12495
3        Puma     Women Eternity Nitro Running                   Rs. 12999
4        ALDO                     Men Sneakers                    Rs. 9999
..        ...                              ...                         ...
95       Nike        Men REACT MILER 2 Running  Rs. 9770Rs. 11495(15% OFF)
96     Reebok       Men Nano X1 Training Shoes   Rs. 7499Rs. 9999(25% OFF)
97  Florsheim  Men Solid Leather Formal Derbys                    Rs. 6995
98       FILA             Women Solid Sneakers                    Rs. 6999
99       ALDO             Women Open Toe Flats                    Rs. 8999

[100 rows x 3 columns]

In [178]:
#Getting out of the opened webpage myntra
driver.quit()

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [192]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [205]:
driver = webdriver.Chrome("C:\\Users\\Pooja.Mishra\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [206]:
#Getting the amazon url
amazon="https://www.amazon.in/"
driver.get(amazon)

2.Enter “Laptop” in the search field and then click the search icon.

In [207]:
search_laptop=driver.find_element_by_id("twotabsearchtextbox")

search_laptop.send_keys("laptop")

#click the search icon
amazon_search=driver.find_element_by_id("nav-search-submit-button")
amazon_search.click()
time.sleep(3)

In [ ]:
#Extracting the data by applying filter of core i7 and core i9 then getting the data by using for loop.

In [208]:
import pandas as pd
i=0
count = 0
Laptop_listI9 = pd.DataFrame({})
Laptop_listI7 = pd.DataFrame({})
try:
            Laptop_Title=[]
            Laptop_Rating=[]
            Laptop_Price=[]
            count = len(Laptop_Title)
            if count == 0:
                corei9_filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
                for i in corei9_filter:
                    if "Intel Core i9" in i.text:
                        i.click()
                        break
                time.sleep(5)
                #Exctracting the all data from page with xpath attributes
                #Begin           
                laptop_title_elements=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']/span")          
                for i in laptop_title_elements[:10]:
                    Laptop_Title.append(i.text)
                laptop_rating_elements=driver.find_elements_by_xpath("//span[@class='a-size-base']")
                for j in laptop_rating_elements[:10]:
                    if j.text ==" ":
                        Laptop_Rating.append('-') 
                    else:
                        Laptop_Rating.append(j.text)  
                laptop_Price_elements=driver.find_elements_by_xpath("//a[@class='a-size-base a-link-normal a-text-normal']")
                for k in laptop_Price_elements[:10]:
                    Laptop_Price.append(k.text.strip().split('\n')[0].strip())
           
               #End   
                count = len(Laptop_Title)
                print(count)
                print (len(Laptop_Title),len(Laptop_Rating),len(Laptop_Price))
                time.sleep(3)
                if count<=10:
                    clear_filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item s-navigation-clear-link']/span")
                    for i in clear_filter:
                        if "Clear" in i.text:
                            i.click()
                            break
            Laptop_listI9["Title"] = pd.Series(Laptop_Title)
            Laptop_listI9["Price"] = pd.Series(Laptop_Price)
            Laptop_listI9["Rating"] = pd.Series(Laptop_Rating)                
            time.sleep(3)
            if  count <= 10:
                corei7_filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
                for i in corei7_filter:
                    if "Intel Core i7" in i.text:
                        i.click()
                        break
                #Exctracting the all data from page with xpath attributes
                #Begin
                Laptop_Title=[]
                Laptop_Rating=[]
                Laptop_Price=[]
                time.sleep(5)
                laptop_titel_elements=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']/span")          
                for i in laptop_titel_elements[:10]:
                    Laptop_Title.append(i.text)
                laptop_rating_elements=driver.find_elements_by_xpath("//span[@class='a-size-base']")
                for j in laptop_rating_elements[:10]:
                    if j.text =="":
                        Laptop_Rating.append('-') 
                    else:
                        Laptop_Rating.append(j.text) 
                laptop_Price_elements=driver.find_elements_by_xpath("//a[@class='a-size-base a-link-normal a-text-normal']")
                for k in laptop_Price_elements[:10]:
                    Laptop_Price.append(k.text.strip().split('\n')[0].strip())
                #End  
                Laptop_listI7["Title"] = pd.Series(Laptop_Title)
                Laptop_listI7["Price"] = pd.Series(Laptop_Price)
                Laptop_listI7["Rating"] = pd.Series(Laptop_Rating)
except NoSuchElementException as e:
        Laptop_Rating.append('-')
print (len(Laptop_Title),len(Laptop_Rating),len(Laptop_Price))
#Concating the data of core i7 & core i9
df = pd.concat([Laptop_listI7, Laptop_listI9], ignore_index=True)
df #storing all data in dataframe

10
10 10 10
10 10 10

                                                Title      Price Rating
0   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    ₹96,000     11
1   Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...    ₹83,990     11
2   (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...    ₹44,999    736
3   Mi Notebook Horizon Edition 14 Intel Core i5-1...    ₹49,999      4
4   HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...    ₹84,990      6
5   HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  ₹3,43,099     22
6   Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...    ₹79,990    288
7   HP Pavilion (2021) Thin & Light 11th Gen Core ...    ₹97,990     61
8   Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...    ₹39,999     11
9   Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...    ₹96,000     61
10  Microsoft Surface Laptop 4 AMD Ryzen™ 7 4980U ...    ₹99,990      9
11  Microsoft Surface Laptop 4 AMD Ryzen™ 5 4680U ...  ₹1,95,054    474
12  ASUS ROG Zephyrus GX501GI-EI004T 15.6-inch FHD...    ₹64,990
13  Acer Nitro 5 Intel Core i5-10th Gen 15.6-inch ...
14                                                       ₹25,999    618
15                                                       ₹35,990    222
16  HP 15 Entry Level 15.6-inch (39.62 cms) HD Lap...    ₹27,483     70
17  Lenovo IdeaPad S145 10th Gen Intel Core i3 15....    ₹24,990     21
18  HP 15 Intel Pentium Gold 6405U Processor Entry...    ₹27,499    589
19  ASUS VivoBook 14 (2020) Intel Quad Core Pentiu...    ₹18,990    171